*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: YuGothic,'Yu Gothic',sans-serif;
  color: #333;
  background-color: #FFFFFF;
}

body a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

header .header-inner {
  width: 1080px;
  margin: 0 auto;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-inner .header-logo img {
  width: 130px;
  margin: 18px 0 19px;
}

header .header-inner .header-recruit p {
  background-color: #FFE000;
  padding: 15px 35px;
  margin: 11px 0;
  border-radius: 24px;
  -webkit-box-shadow: 3px 3px 10px #00000029;
          box-shadow: 3px 3px 10px #00000029;
  font-size: 18px;
  font-weight: bold;
}

main .main-inner {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
}

main .main-inner .top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main-inner .top-wrapper .top-right {
  width: 51.851852%;
  margin: 80px 0 120px;
}

main .main-inner .top-wrapper .top-left {
  width: 48.148148%;
  margin: 204px 0 243px;
}

main .main-inner .top-wrapper .top-left .catch-title {
  width: 100%;
  font-size: 36px;
  font-weight: bold;
}

main .main-inner .top-wrapper .top-left .pc-none {
  display: none;
}

main .main-inner .top-wrapper .top-left .catch-explain {
  width: 77.2%;
  font-size: 16px;
  line-height: 27px;
  margin: 3.4% 0 4%;
  display: inline-block;
}

main .main-inner .top-wrapper .top-left .top-contact {
  font-size: 18px;
  padding: 15px 39px;
  background-color: #109954;
  border-radius: 32px;
  -webkit-box-shadow: 3px 3px 10px #00000029;
          box-shadow: 3px 3px 10px #00000029;
  color: #ffffff;
  margin-right: 10px;
  display: inline-block;
  font-weight: bold;
}

main .main-inner .top-wrapper .top-left .top-document {
  font-size: 18px;
  padding: 15px 39px;
  border: 2px solid #109954;
  border-radius: 32px;
  -webkit-box-shadow: 3px 3px 10px #00000029;
          box-shadow: 3px 3px 10px #00000029;
  color: #109954;
  display: inline-block;
  font-weight: bold;
}

main .main-inner .service .section-title {
  width: 662px;
  margin: 0 auto;
  font-size: 36px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .main-inner .service .section-title:before, main .main-inner .service .section-title:after {
  content: "";
  height: 4px;
  width: 200px;
  line-height: 36px;
  background: #109954;
  display: block;
}

main .main-inner .service .section-title:before {
  margin-right: 50px;
}

main .main-inner .service .section-title:after {
  margin-left: 50px;
}

main .main-inner .service .service-select {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main-inner .service .service-select figure img {
  width: 200px;
  margin: 109px 0 30px;
}

main .main-inner .service .service-select figcaption {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

main .main-inner .about {
  margin: 120px 0 100px;
}

main .main-inner .about .section-title {
  width: 629px;
  margin: 0 auto;
  font-size: 36px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .main-inner .about .section-title:before, main .main-inner .about .section-title:after {
  content: "";
  height: 4px;
  width: 200px;
  line-height: 36px;
  background: #109954;
  display: block;
}

main .main-inner .about .section-title:before {
  margin-right: 50px;
}

main .main-inner .about .section-title:after {
  margin-left: 50px;
}

main .main-inner .about .about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px 70px 0;
}

main .main-inner .about .about-section .about-image {
  width: 47.87234%;
  height: auto;
  -webkit-box-shadow: 3px 3px 10px #00000029;
          box-shadow: 3px 3px 10px #00000029;
}

main .main-inner .about .about-section .about-image img {
  vertical-align: bottom;
}

main .main-inner .about .about-section .about-content {
  width: 47.87234%;
  padding-top: 3%;
  font-size: 16px;
  line-height: 27px;
  font-weight: 500;
}

main .main-inner .about .about-section .about-content a {
  line-height: 18px;
  padding: 15px 55px;
  color: #ffffff;
  background-color: #109954;
  border-radius: 24px;
  margin-top: 30px;
  display: inline-block;
  -webkit-box-shadow: 3px 3px 10px #00000029;
          box-shadow: 3px 3px 10px #00000029;
}

main .main-inner .about .about-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px 70px 0;
}

main .main-inner .about .about-section2 .about-image {
  width: 47.87234%;
  -webkit-box-shadow: 3px 3px 10px #00000029;
          box-shadow: 3px 3px 10px #00000029;
}

main .main-inner .about .about-section2 .about-image img {
  display: block;
}

main .main-inner .about .about-section2 .about-content {
  width: 47.87234%;
}

main .main-inner .about .about-section2 .about-content h3 {
  font-size: 32px;
  color: #109954;
  margin: 30px 0;
}

main .main-inner .about .about-section2 .about-content p {
  height: 97px;
  font-size: 16px;
  line-height: 27px;
  font-size: medium;
}

main .main-inner .about .about-section2 .about-content a {
  line-height: 18px;
  padding: 15px 55px;
  color: #ffffff;
  background-color: #109954;
  border-radius: 24px;
  -webkit-box-shadow: 3px 3px 10px #00000029;
          box-shadow: 3px 3px 10px #00000029;
  margin-top: 30px;
  display: inline-block;
}

main .main-inner .news .section-title {
  width: 608px;
  margin: 0 auto;
  font-size: 36px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .main-inner .news .section-title:before, main .main-inner .news .section-title:after {
  content: "";
  height: 4px;
  width: 200px;
  line-height: 36px;
  background: #109954;
  display: block;
}

main .main-inner .news .section-title:before {
  margin-right: 50px;
}

main .main-inner .news .section-title:after {
  margin-left: 50px;
}

main .main-inner .news .first {
  margin-top: 101px;
  border-top: 1px solid #707070;
}

main .main-inner .news article {
  width: 92.592593%;
  margin: 0 auto;
  border-bottom: 1px solid #707070;
}

main .main-inner .news article a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .main-inner .news article .news-image {
  width: 30%;
  padding: 18px 0;
  margin-right: 34px;
}

main .main-inner .news article .news-contents {
  width: 65%;
}

main .main-inner .news article .news-contents .time1 {
  font-size: 16px;
  padding: 36px 28px 20px 0;
  display: inline-block;
  font-weight: bold;
}

main .main-inner .news article .news-contents .time2 {
  font-size: 16px;
  padding: 36px 28px 19px 0;
  display: inline-block;
  font-weight: bold;
}

main .main-inner .news article .news-contents .time3 {
  font-size: 16px;
  padding: 36px 28px 19px 0;
  display: inline-block;
  font-weight: bold;
}

main .main-inner .news article .news-contents span {
  font-size: 14px;
  padding: 4px 23px;
  border: 2px solid #109954;
  color: #109954;
  background-color: #fff;
  border-radius: 13px;
  margin: 31px 0 15px;
  display: inline-block;
  font-weight: bold;
}

main .main-inner .news article .news-contents .bold {
  font-size: 16px;
  font-weight: bold;
}

main .main-inner .news article .news-contents .thin {
  font-size: 16px;
  line-height: 27px;
  padding: 20px 0 53px;
  font-weight: 500;
}

main .main-inner .news .last-more {
  text-align: center;
}

main .main-inner .news .last-more .more {
  font-size: 18px;
  padding: 15px 55px;
  color: #ffffff;
  background-color: #109954;
  border-radius: 24px;
  -webkit-box-shadow: 3px 3px 10px #00000029;
          box-shadow: 3px 3px 10px #00000029;
  margin: 50px 0 100px;
  display: inline-block;
}

footer {
  background-color: #E8E8E8;
}

footer .footer-inner {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-inner .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0 12px;
}

footer .footer-inner .flex .footer-logo {
  width: 70px;
}

footer .footer-inner .flex nav ul {
  text-align: right;
}

footer .footer-inner .flex nav ul li {
  display: inline-block;
  padding: 0 18px;
  border-right: 1px solid #333;
  font-size: 14px;
}

footer .footer-inner .flex nav ul li:first-of-type {
  padding-left: 0;
}

footer .footer-inner .flex nav ul li:nth-last-child(1) {
  border: 0;
  padding: 0 0 0 18px;
}

footer .footer-inner .small {
  margin: 0 auto;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 14px;
}

@media screen and (max-width: 1079px) {
  header .header-inner {
    width: 92%;
  }
  main .main-inner {
    width: 92%;
  }
  main .main-inner .top-wrapper .top-right {
    margin: 6.66vw 0 10vw;
  }
  main .main-inner .top-wrapper .top-left {
    margin: 17vw 0 20.25vw;
  }
  main .main-inner .top-wrapper .top-left .catch-title {
    font-size: 3vw;
  }
  main .main-inner .top-wrapper .top-left .catch-explain {
    font-size: 1.4vw;
  }
  main .main-inner .top-wrapper .top-left .top-contact {
    font-size: 1.5vw;
  }
  main .main-inner .top-wrapper .top-left .top-document {
    font-size: 1.5vw;
  }
  main .main-inner .service .section-title {
    font-size: 4vw;
  }
  main .main-inner .about .section-title {
    font-size: 4vw;
  }
  main .main-inner .about .about-section .about-content {
    font-size: 1.30vw;
    line-height: 2.5vw;
  }
  main .main-inner .about .about-section .about-content a {
    margin-top: 2.5vw;
    padding: 1.35vw 5.1vw;
  }
  main .main-inner .about .about-section2 .about-content {
    font-size: 1.30vw;
    line-height: 2.5vw;
  }
  main .main-inner .about .about-section2 .about-content h3 {
    font-size: 2.8vw;
    margin: 1.3vw 0;
  }
  main .main-inner .about .about-section2 .about-content p {
    height: auto;
    font-size: 1.30vw;
    line-height: 2.5vw;
  }
  main .main-inner .about .about-section2 .about-content a {
    margin-top: 2.5vw;
    padding: 1.3vw 5.1vw;
  }
  main .main-inner .news .section-title {
    font-size: 4vw;
  }
  main .main-inner .news article .news-image {
    padding: 1.5vw 0;
    margin-right: 2.9vw;
  }
  main .main-inner .news article .news-contents .time1 {
    font-size: 1.4vw;
    padding: 3vw 2.5vw 1.55vw 0;
  }
  main .main-inner .news article .news-contents .time2 {
    font-size: 1.4vw;
    padding: 3vw 2.5vw 1.5vw 0;
  }
  main .main-inner .news article .news-contents .time3 {
    font-size: 1.4vw;
    padding: 3vw 2.5vw 1.5vw 0;
  }
  main .main-inner .news article .news-contents span {
    font-size: 1.3vw;
    padding: 0.36vw 2vw;
    margin: 2.79vw 1.35vw;
  }
  main .main-inner .news article .news-contents .bold {
    font-size: 1.38vw;
  }
  main .main-inner .news article .news-contents .thin {
    font-size: 1.38vw;
    line-height: 2.43vw;
    padding: 1.8vw 0 4.7vw;
  }
  footer .footer-inner {
    width: 92%;
  }
  footer .footer-inner .flex {
    padding: 2.5vw 0 1.2vw;
  }
  footer .footer-inner .flex .footer-logo {
    width: 7vw;
  }
  footer .footer-inner .flex nav ul li {
    font-size: 1.4vw;
    padding: 0 1.8vw;
  }
  footer .footer-inner .flex nav ul li:nth-last-child(1) {
    padding: 0 0 0 1.8vw;
  }
  footer .footer-inner .small {
    font-size: 1.4vw;
    padding-bottom: 1.4vw;
  }
}

@media screen and (max-width: 768px) {
  header .header-inner {
    width: 92%;
  }
  header .header-inner .header-logo img {
    width: 110px;
    margin: 21px 0;
  }
  header .header-inner .header-recruit p {
    font-size: 18px;
  }
  main .main-inner {
    width: 92%;
  }
  main .main-inner .top-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  main .main-inner .top-wrapper .top-right {
    width: 100%;
    margin: 10px 0 0;
  }
  main .main-inner .top-wrapper .top-left {
    width: 100%;
    margin: 1.3vw 0 26vw;
  }
  main .main-inner .top-wrapper .top-left .catch-title {
    font-size: 8vw;
    line-height: 12vw;
  }
  main .main-inner .top-wrapper .top-left .catch-explain {
    width: 100%;
    font-size: 4.3vw;
    margin: 22px 0 20px;
    line-height: 8vw;
  }
  main .main-inner .top-wrapper .top-left .pc-none {
    display: block;
  }
  main .main-inner .top-wrapper .top-left .top-contact {
    width: 44%;
    display: block;
    text-align: center;
    margin: 0 auto 15px;
    padding: 4% 8%;
    font-size: 4.4vw;
    border-radius: 8vw;
  }
  main .main-inner .top-wrapper .top-left .top-document {
    width: 59%;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 4% 8%;
    font-size: 4.4vw;
    border-radius: 8vw;
  }
  main .main-inner .service .section-title {
    width: 100%;
    font-size: 7vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .main-inner .service .section-title:before, main .main-inner .service .section-title:after {
    width: 30%;
  }
  main .main-inner .service .section-title:before {
    margin-right: 4%;
  }
  main .main-inner .service .section-title:after {
    margin-left: 4%;
  }
  main .main-inner .service .service-select {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main-inner .service .service-select figure {
    text-align: center;
  }
  main .main-inner .service .service-select figure .first-img {
    margin-top: 80px;
  }
  main .main-inner .service .service-select figure img {
    width: 53%;
    margin: 0 0 30px 0;
  }
  main .main-inner .service .service-select figcaption {
    font-size: 5.3vw;
    padding-bottom: 50px;
  }
  main .main-inner .about {
    margin: 4.5vw 0 0;
  }
  main .main-inner .about .section-title {
    width: 100%;
    font-size: 7vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .main-inner .about .section-title:before, main .main-inner .about .section-title:after {
    width: 30%;
  }
  main .main-inner .about .section-title:before {
    margin-right: 4%;
  }
  main .main-inner .about .section-title:after {
    margin-left: 4%;
  }
  main .main-inner .about .about-section {
    margin: 80px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main-inner .about .about-section .about-image {
    width: 100%;
  }
  main .main-inner .about .about-section .about-content {
    width: 100%;
    padding-top: 50px;
    font-size: 4.2vw;
    line-height: 8vw;
  }
  main .main-inner .about .about-section .sp-none {
    display: none;
  }
  main .main-inner .about .about-section .about-more {
    text-align: center;
  }
  main .main-inner .about .about-section .about-more a {
    font-size: 4.8vw;
    padding: 4vw 15vw;
    border-radius: 15vw;
    margin: 8vw 0 18vw;
  }
  main .main-inner .about .about-section2 {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main-inner .about .about-section2 .about-image {
    width: 100%;
  }
  main .main-inner .about .about-section2 .about-content {
    width: 100%;
    padding-top: 50px;
    font-size: 4.2vw;
    line-height: 8vw;
  }
  main .main-inner .about .about-section2 .about-content h3 {
    font-size: 8vw;
    margin-bottom: 30px;
  }
  main .main-inner .about .about-section2 .about-content p {
    font-size: 4.2vw;
    line-height: 8vw;
  }
  main .main-inner .about .about-section2 .sp-none {
    display: none;
  }
  main .main-inner .about .about-section2 .about-more {
    text-align: center;
  }
  main .main-inner .about .about-section2 .about-more a {
    font-size: 4.8vw;
    padding: 4vw 15vw;
    border-radius: 15vw;
    margin: 8vw 0 26vw;
  }
  main .main-inner .news .section-title {
    width: 100%;
    font-size: 7vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .main-inner .news .section-title:before, main .main-inner .news .section-title:after {
    width: 30%;
  }
  main .main-inner .news .section-title:before {
    margin-right: 4%;
  }
  main .main-inner .news .section-title:after {
    margin-left: 4%;
  }
  main .main-inner .news article {
    width: 100%;
  }
  main .main-inner .news article a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main-inner .news article .news-image {
    width: 86%;
    padding: 18px 0;
    margin: 0 auto;
  }
  main .main-inner .news article .news-contents {
    width: 100%;
  }
  main .main-inner .news article .news-contents .span-category {
    text-align: left;
  }
  main .main-inner .news article .news-contents .time1 {
    font-size: 4.3vw;
    padding-top: 4vw;
  }
  main .main-inner .news article .news-contents .time2 {
    font-size: 4.3vw;
    padding-top: 4vw;
    padding-right: 3%;
  }
  main .main-inner .news article .news-contents .time3 {
    font-size: 4.3vw;
    padding-top: 4vw;
    padding-right: 1.9%;
  }
  main .main-inner .news article .news-contents span {
    margin: 0 auto;
    font-size: 3.5vw;
    font-weight: bold;
    padding: 1.2vw 5.2vw;
    border-radius: 15vw;
  }
  main .main-inner .news article .news-contents p {
    padding: 2vw 0;
  }
  main .main-inner .news article .news-contents .bold {
    font-size: 4.3vw;
    line-height: 7vw;
    font-weight: bold;
    padding-top: 4vw;
  }
  main .main-inner .news article .news-contents .thin {
    width: 100%;
    font-size: 4.3vw;
    line-height: 7vw;
    padding: 2% 0 5.3%;
    font-weight: 500;
  }
  main .main-inner .news .last-more .more {
    margin-top: 50px;
    font-size: 4.8vw;
    padding: 4vw 15vw;
    border-radius: 15vw;
    margin: 14vw 0 28vw;
  }
  footer .footer-inner .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  footer .footer-inner .flex .footer-logo {
    width: 70px;
    margin: 30px 0 23px;
    display: inline-block;
  }
  footer .footer-inner .flex nav {
    width: 100%;
  }
  footer .footer-inner .flex nav ul {
    text-align: center;
  }
  footer .footer-inner .flex nav ul li {
    font-size: 14px;
    display: block;
    padding-bottom: 12px;
    border: 0;
    margin: 0;
  }
  footer .footer-inner .flex nav ul li:nth-last-child(1) {
    border: 0;
    padding-bottom: 40px;
  }
  footer .footer-inner .small {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    padding-bottom: 14px;
  }
}
/*# sourceMappingURL=style.css.map */