*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: YuGothic,'Yu Gothic',sans-serif;
  color: #333;
}

body a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  height: 70px;
}

header .header-inner {
  width: 84.375%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-inner .header-logo img {
  height: 33px;
  margin: 18px 0 19px;
}

header .header-inner .header-recruit p {
  background-color: #FFE000;
  padding: 15px 35px;
  margin: 11px 0;
  border-radius: 24px;
  -webkit-box-shadow: 3px 3px 10px #00000029;
          box-shadow: 3px 3px 10px #00000029;
}

main .main-inner {
  width: 84.375%;
  max-width: 100%;
  margin: 0 auto;
}

main .main-inner .top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main-inner .top-wrapper .top-right {
  width: 51.851852%;
  margin: 8% 0 12%;
}

main .main-inner .top-wrapper .top-left {
  width: 46.666667%;
  margin: 20.4% 0 24.3%;
}

main .main-inner .top-wrapper .top-left .catch-title {
  width: 100%;
  font-size: 2.8vw;
  font-weight: bold;
}

main .main-inner .top-wrapper .top-left .pc-none {
  display: none;
}

main .main-inner .top-wrapper .top-left .catch-explain {
  width: 77.2%;
  font-size: 1.25vw;
  line-height: 2.1vw;
  margin: 3.4% 0 4%;
  display: inline-block;
}

main .main-inner .top-wrapper .top-left .top-contact {
  font-size: 1.4vw;
  padding: 3% 7.7%;
  background-color: #109954;
  border-radius: 24px;
  -webkit-box-shadow: 3px 3px 10px #00000029;
          box-shadow: 3px 3px 10px #00000029;
  color: #ffffff;
  margin-right: 1%;
  display: inline-block;
}

main .main-inner .top-wrapper .top-left .top-document {
  font-size: 1.4vw;
  padding: 3% 7.7%;
  border: 2px solid #109954;
  border-radius: 24px;
  -webkit-box-shadow: 3px 3px 10px #00000029;
          box-shadow: 3px 3px 10px #00000029;
  color: #109954;
  display: inline-block;
}

main .main-inner .service .section-title {
  width: 662px;
  margin: 0 auto;
  font-size: 36px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .main-inner .service .section-title:before, main .main-inner .service .section-title:after {
  content: "";
  height: 4px;
  width: 200px;
  line-height: 36px;
  background: #109954;
  display: block;
}

main .main-inner .service .section-title:before {
  margin-right: 50px;
}

main .main-inner .service .section-title:after {
  margin-left: 50px;
}

main .main-inner .service .service-select {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main-inner .service .service-select figure img {
  width: 200px;
  margin: 109px 0 30px;
}

main .main-inner .service .service-select figure figcaption {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

main .main-inner .about {
  margin: 12% 0;
}

main .main-inner .about .section-title {
  width: 629px;
  margin: 0 auto;
  font-size: 36px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .main-inner .about .section-title:before, main .main-inner .about .section-title:after {
  content: "";
  height: 4px;
  width: 200px;
  line-height: 36px;
  background: #109954;
  display: block;
}

main .main-inner .about .section-title:before {
  margin-right: 50px;
}

main .main-inner .about .section-title:after {
  margin-left: 50px;
}

main .main-inner .about .about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10% 0 0;
}

main .main-inner .about .about-section .about-image {
  max-width: 48%;
}

main .main-inner .about .about-section .about-content {
  max-width: 48%;
  padding-top: 3%;
  font-size: 1.4vw;
  line-height: 2.4vw;
  font-weight: 500;
}

main .main-inner .about .about-section .about-content a {
  line-height: 1.4vw;
  padding: 15px 55px;
  color: #ffffff;
  background-color: #109954;
  border-radius: 24px;
  -webkit-box-shadow: 3px 3px 10px #00000029;
          box-shadow: 3px 3px 10px #00000029;
  margin-top: 30px;
  display: inline-block;
}

main .main-inner .about .about-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10% 0 0;
}

main .main-inner .about .about-section2 .about-image {
  width: 48%;
}

main .main-inner .about .about-section2 .about-content {
  width: 48%;
  padding-top: 3%;
  font-size: 1.4vw;
  line-height: 2.4vw;
  font-weight: 500;
}

main .main-inner .about .about-section2 .about-content h3 {
  font-size: 2.5vw;
  color: #109954;
  margin-bottom: 3%;
}

main .main-inner .about .about-section2 .about-content a {
  line-height: 1.4vw;
  padding: 15px 55px;
  color: #ffffff;
  background-color: #109954;
  border-radius: 24px;
  -webkit-box-shadow: 3px 3px 10px #00000029;
          box-shadow: 3px 3px 10px #00000029;
  margin-top: 30px;
  display: inline-block;
}

main .main-inner .news .section-title {
  width: 608px;
  margin: 0 auto;
  font-size: 36px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .main-inner .news .section-title:before, main .main-inner .news .section-title:after {
  content: "";
  height: 4px;
  width: 200px;
  line-height: 36px;
  background: #109954;
  display: block;
}

main .main-inner .news .section-title:before {
  margin-right: 50px;
}

main .main-inner .news .section-title:after {
  margin-left: 50px;
}

main .main-inner .news .first {
  margin-top: 101px;
  border-top: 1px solid #707070;
}

main .main-inner .news article {
  border-bottom: 1px solid #707070;
  width: 92.6%;
  margin: 0 auto;
}

main .main-inner .news article a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .main-inner .news article .news-image {
  width: 30%;
  padding: 1.8% 3.4%;
}

main .main-inner .news article .news-contents {
  width: 70%;
}

main .main-inner .news article .news-contents time {
  font-size: 1.25vw;
  padding: 3.6% 2.8% 2% 0;
  display: inline-block;
}

main .main-inner .news article .news-contents .time2 {
  padding-right: 1%;
}

main .main-inner .news article .news-contents .time3 {
  padding-right: 1.9%;
}

main .main-inner .news article .news-contents span {
  font-size: 1.09vw;
  padding: 0.6% 2.3%;
  border: 2px solid #109954;
  color: #109954;
  background-color: #fff;
  border-radius: 18px;
  margin: 3.1% 0 1.5%;
  display: inline-block;
  font-weight: bold;
}

main .main-inner .news article .news-contents .bold {
  font-size: 1.25vw;
  line-height: 2.1vw;
  font-weight: bold;
}

main .main-inner .news article .news-contents .thin {
  width: 95%;
  font-size: 1.25vw;
  line-height: 2.1vw;
  padding: 2% 0 5.3%;
  font-weight: medium;
}

main .main-inner .news .last-more {
  text-align: center;
}

main .main-inner .news .last-more .more {
  padding: 15px 55px;
  color: #ffffff;
  background-color: #109954;
  border-radius: 18px;
  margin: 65px 0 100px;
  display: inline-block;
}

footer {
  height: 140px;
  background-color: #E8E8E8;
  position: relative;
}

footer .footer-inner {
  width: 84.375%;
  max-width: 100%;
  margin: 0 auto;
}

footer .footer-inner .flex {
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-inner .footer-logo {
  width: 5%;
  margin: 1.2vw 0 1.2vw;
}

footer .footer-inner nav {
  width: 70%;
}

footer .footer-inner nav ul {
  text-align: right;
}

footer .footer-inner nav ul li {
  display: inline-block;
  padding: 0 1.8%;
  border-right: 1px solid #333;
  font-size: 1.1vw;
  margin: 2.5vw 0 2vw;
}

footer .footer-inner nav ul li a {
  text-decoration: none;
}

footer .footer-inner nav ul li:nth-last-child(1) {
  border: 0;
  padding: 0 0 0 1.8%;
}

footer .footer-inner .small {
  text-align: center;
  font-size: 1.1vw;
  font-weight: 500;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 45%;
}

@media screen and (max-width: 768px) {
  header .header-inner {
    width: 92%;
  }
  header .header-inner .header-logo img {
    height: 28px;
    width: 110px;
    margin: 21px 0;
  }
  header .header-inner .header-recruit p {
    margin: 11px 0;
    border-radius: 24px;
    -webkit-box-shadow: 3px 3px 10px #00000029;
            box-shadow: 3px 3px 10px #00000029;
  }
  main .main-inner {
    width: 92%;
  }
  main .main-inner .top-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  main .main-inner .top-wrapper .top-right {
    width: 100%;
    margin: 10px 0 0;
  }
  main .main-inner .top-wrapper .top-left {
    width: 100%;
    margin: 10px 0 100px;
  }
  main .main-inner .top-wrapper .top-left .catch-title {
    font-size: 8vw;
    line-height: 12vw;
  }
  main .main-inner .top-wrapper .top-left .catch-explain {
    width: 100%;
    font-size: 4.3vw;
    margin: 22px 0 20px;
    line-height: 8vw;
  }
  main .main-inner .top-wrapper .top-left .pc-none {
    display: block;
  }
  main .main-inner .top-wrapper .top-left .top-contact {
    width: 44%;
    display: block;
    text-align: center;
    margin: 0 auto 15px;
    padding: 4% 8%;
    font-size: 4.4vw;
  }
  main .main-inner .top-wrapper .top-left .top-document {
    width: 59%;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 4% 8%;
    font-size: 4.4vw;
  }
  main .main-inner .service .section-title {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .main-inner .service .section-title:before, main .main-inner .service .section-title:after {
    width: 30%;
  }
  main .main-inner .service .section-title:before {
    margin-right: 4%;
  }
  main .main-inner .service .section-title:after {
    margin-left: 4%;
  }
  main .main-inner .service .service-select {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main-inner .service .service-select figure {
    text-align: center;
  }
  main .main-inner .service .service-select figure .first-img {
    margin-top: 80px;
  }
  main .main-inner .service .service-select figure img {
    margin: 0 0 30px 0;
  }
  main .main-inner .service .service-select figure figcaption {
    font-size: 20px;
    padding-bottom: 50px;
  }
  main .main-inner .about {
    margin: 50px 0 100px;
  }
  main .main-inner .about .section-title {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .main-inner .about .section-title:before, main .main-inner .about .section-title:after {
    width: 30%;
  }
  main .main-inner .about .section-title:before {
    margin-right: 4%;
  }
  main .main-inner .about .section-title:after {
    margin-left: 4%;
  }
  main .main-inner .about .about-section, main .main-inner .about .about-section2 {
    margin: 80px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main-inner .about .about-section .about-image, main .main-inner .about .about-section2 .about-image {
    max-width: 100%;
  }
  main .main-inner .about .about-section .about-content, main .main-inner .about .about-section2 .about-content {
    max-width: 100%;
    padding-top: 50px;
    font-size: 4.2vw;
    line-height: 8vw;
  }
  main .main-inner .about .about-section .sp-none, main .main-inner .about .about-section2 .sp-none {
    display: none;
  }
  main .main-inner .about .about-section .about-more, main .main-inner .about .about-section2 .about-more {
    text-align: center;
  }
  main .main-inner .about .about-section .about-more a, main .main-inner .about .about-section2 .about-more a {
    font-size: 4.4vw;
    line-height: 4.4vw;
  }
  main .main-inner .about .about-section2 {
    margin: 50px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main-inner .about .about-section2 .about-image {
    width: 100%;
  }
  main .main-inner .about .about-section2 .about-content {
    width: 100%;
    padding-top: 50px;
    font-size: 4.2vw;
    line-height: 8vw;
  }
  main .main-inner .about .about-section2 .about-content h3 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  main .main-inner .about .about-section2 .sp-none {
    display: none;
  }
  main .main-inner .about .about-section2 .about-more {
    text-align: center;
  }
  main .main-inner .about .about-section2 .about-more a {
    font-size: 4.4vw;
    line-height: 4.4vw;
  }
  main .main-inner .news .section-title {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .main-inner .news .section-title:before, main .main-inner .news .section-title:after {
    width: 30%;
  }
  main .main-inner .news .section-title:before {
    margin-right: 4%;
  }
  main .main-inner .news .section-title:after {
    margin-left: 4%;
  }
  main .main-inner .news article {
    width: 100%;
  }
  main .main-inner .news article a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main-inner .news article .news-image {
    width: 86%;
    padding: 18px 0;
    margin: 0 auto;
  }
  main .main-inner .news article .news-contents {
    width: 100%;
  }
  main .main-inner .news article .news-contents .span-category {
    text-align: left;
  }
  main .main-inner .news article .news-contents time {
    font-size: 4.3vw;
    padding: 0 4vw 0 0;
    font-weight: bold;
  }
  main .main-inner .news article .news-contents .time2 {
    padding-right: 3%;
  }
  main .main-inner .news article .news-contents .time3 {
    padding-right: 1.9%;
  }
  main .main-inner .news article .news-contents span {
    margin: 0 auto;
    font-size: 4vw;
    font-weight: bold;
    padding: 6px 6.13%;
  }
  main .main-inner .news article .news-contents p {
    padding: 24px 0 18px;
  }
  main .main-inner .news article .news-contents .bold {
    font-size: 4.3vw;
    line-height: 7vw;
    font-weight: bold;
  }
  main .main-inner .news article .news-contents .thin {
    width: 100%;
    font-size: 4.3vw;
    line-height: 7vw;
    padding: 2% 0 5.3%;
    font-weight: medium;
  }
  main .main-inner .news .last-more .more {
    margin-top: 50px;
    font-size: 4.4vw;
    line-height: 4.4vw;
  }
  footer {
    height: 289px;
    text-align: center;
    position: static;
  }
  footer .footer-inner {
    width: 100%;
    text-align: center;
  }
  footer .footer-inner .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-inner .footer-logo {
    width: 10%;
    margin: 30px auto 23px;
  }
  footer .footer-inner nav {
    width: 100%;
  }
  footer .footer-inner nav ul {
    text-align: center;
  }
  footer .footer-inner nav ul li {
    display: block;
    padding-bottom: 12px;
    border: 0;
    margin: 0;
    font-size: 2vw;
  }
  footer .footer-inner nav ul li:nth-last-child(1) {
    border: 0;
    padding-bottom: 40px;
  }
  footer .footer-inner .small {
    text-align: center;
    padding-top: 15%;
    font-size: 2vw;
    font-weight: 500;
    display: block;
    position: static;
  }
}

@media screen and (min-width: 1440px) {
  .small {
    text-align: center;
    font-size: 3vw;
    font-weight: 500;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 45%;
  }
}
/*# sourceMappingURL=style.css.map */