@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: YuGothic,'Yu Gothic',sans-serif;
  color: #333;
  background-color: #FFFFFF;

  a {
    text-decoration: none;
    color: #333;
  }

}

img {
  max-width: 100%;
  height: auto;
}


header {
  // height: 70px;

  .header-inner {
    width: 1080px;
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    justify-content: space-between;

      .header-logo img {
        width: 130px;
        margin: 18px 0 19px;
      }

      .header-recruit {
        
          p {
            background-color: #FFE000;
            padding: 15px 35px;
            margin: 11px 0;
            border-radius: 24px;
            box-shadow: 3px 3px 10px #00000029;
            font-size: 18px;
            font-weight: bold;
          }  
      }


  }
}
// ---------------------------------------  header ----------

main {

  .main-inner {
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;

    .top-wrapper {
        display: flex;
        justify-content: space-between;

        .top-right {
          width: 51.851852%;
          margin: 80px 0 120px;
        }

        .top-left {
          width: 48.148148%;
          margin: 204px 0 243px;

            .catch-title {
              width: 100%;
              // font-size: 3vw;
              font-size: 36px;
              font-weight: bold;
              // display: inline-block;
            }
            .pc-none {
              display: none;
            }
            .catch-explain {
              width: 77.2%;
              font-size: 16px;
              line-height: 27px;
              margin: 3.4% 0 4%;
              display: inline-block;
            }

            .top-contact {
              font-size: 18px;
              padding: 15px 39px;
              background-color: #109954;
              border-radius: 32px;
              box-shadow: 3px 3px 10px #00000029;
              color: #ffffff;
              margin-right: 10px;
              display: inline-block;
              font-weight: bold;
            }
            .top-document {
              font-size: 18px;
              padding: 15px 39px;
              border: 2px solid #109954;
              border-radius: 32px;
              box-shadow: 3px 3px 10px #00000029;
              color: #109954;
              display: inline-block;
              font-weight: bold;
            }
            
        }
    } 




  

    .service {

        .section-title {
          width: 662px;
          margin: 0 auto;
          font-size: 36px;
          font-weight: bold;
          display: flex;
          align-items: center;
          text-align: center;

            &:before, &:after {
              content: "";
              // flex-grow: .2;
              height: 4px;
              width: 200px;
              line-height: 36px;
              background: #109954;
              display: block;
            }
            &:before {
              margin-right: 50px;
            }
            &:after {
              margin-left: 50px;
            }
        }
        
        .service-select {
          width: 800px;
          max-width: 100%;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;

            figure {

                img {
                  width: 200px;
                  margin: 109px 0 30px;
                }
            }
            figcaption {
              font-size: 20px;
              font-weight: bold;
              text-align: center;
            }

        }

    }// ---------------------------------------  service ----------

    .about {
      margin: 120px 0 100px;

        .section-title {
          width: 629px;
          margin: 0 auto;
          font-size: 36px;
          font-weight: bold;
          display: flex;
          align-items: center;
          text-align: center;

            &:before, &:after {
              content: "";
              // flex-grow: .2;
              height: 4px;
              width: 200px;
              line-height: 36px;
              background: #109954;
              display: block;
            }
            &:before {
              margin-right: 50px;
            }
            &:after {
              margin-left: 50px;
            }
        }
        
        .about-section {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          margin: 100px 70px 0;

            .about-image {
              width:  47.87234%;
              height: auto;
              box-shadow: 3px 3px 10px #00000029;

              img {
                vertical-align: bottom;
              }
            }
            .about-content {
              width: 47.87234%;
              padding-top: 3%;
              font-size: 16px;
              line-height: 27px;
              font-weight: 500;

              a {
                line-height: 18px;
                padding: 15px 55px;
                color: #ffffff;
                background-color: #109954;
                border-radius: 24px;
                margin-top: 30px;
                display: inline-block;
                box-shadow: 3px 3px 10px #00000029;
              }
            }

        }

        .about-section2 {
          display: flex;
          justify-content: space-between;
          margin: 100px 70px 0;
            
            .about-image {
              width: 47.87234%;
              box-shadow: 3px 3px 10px #00000029;

                img {
                  display: block;
                }
            }
            .about-content {
              width: 47.87234%;

                h3 {
                  font-size: 32px;
                  color: #109954; 
                  margin: 30px 0;
                }
                p {
                  height: 97px;
                  font-size: 16px;
                  line-height: 27px;
                  font-size: medium;
                }
                a {
                  line-height: 18px;
                  padding: 15px 55px;
                  color: #ffffff;
                  background-color: #109954;
                  border-radius: 24px;
                  box-shadow: 3px 3px 10px #00000029;
                  margin-top: 30px;
                  display: inline-block;
                }
            }

        }

    }// ---------------------------------------  about ----------

    .news {

        .section-title {
          width: 608px;
          margin: 0 auto;
          font-size: 36px;
          font-weight: bold;
          display: flex;
          align-items: center;
          text-align: center;


            &:before, &:after {
              content: "";
              // flex-grow: .2;
              height: 4px;
              width: 200px;
              line-height: 36px;
              background: #109954;
              display: block;
            }
            &:before {
              margin-right: 50px;
            }
            &:after {
              margin-left: 50px;
            }
        }
        
        .first {
          margin-top: 101px;
          border-top: 1px solid #707070;
        }





        article {
          width: 92.592593%;
          margin: 0 auto;
          border-bottom: 1px solid #707070;

            a {
              display: flex;
            }

            .news-image {
              width: 30%;
              padding: 18px 0;
              margin-right: 34px;
            }

            .news-contents {
              width: 65%;
              
              .time1 {
                font-size: 16px;
                // line-height: 27px;
                padding: 36px 28px 20px 0;
                display: inline-block;
                font-weight: bold;
              }

              .time2 {
                font-size: 16px;
                // line-height: 27px;
                padding: 36px 28px 19px 0;
                display: inline-block;
                font-weight: bold;
              }
              .time3 {
                font-size: 16px;
                // line-height: 27px;
                padding: 36px 28px 19px 0;
                display: inline-block;
                font-weight: bold;
              }
              span {
                  font-size: 14px;
                  padding: 4px 23px;
                  border: 2px solid #109954;
                  color: #109954;
                  background-color: #fff;
                  border-radius: 13px;
                  margin: 31px 0 15px;
                  display: inline-block;
                  font-weight: bold;
              }
              .bold {
                font-size: 16px;
                // line-height: 27px;
                font-weight: bold;
              }
              .thin {
                font-size: 16px;
                line-height: 27px;
                padding: 20px 0 53px;
                font-weight: 500;
              }
              
            }
        }

        .last-more {
          text-align: center;

          .more {
            font-size: 18px;
            padding: 15px 55px;
            color: #ffffff;
            background-color: #109954;
            border-radius: 24px;
            box-shadow: 3px 3px 10px #00000029;
            margin: 50px 0 100px;
            display: inline-block;
          }


        }
        

    }// ---------------------------------------  news ----------

  }// --------- main inner -----
}// ---------------------------------------  main ----------

footer {
  // height: 140px;
  background-color: #E8E8E8;

  .footer-inner {
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
     .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0 12px;

      .footer-logo {
        width: 70px;
      }

      nav {
        // width: 70%;
          ul {
           text-align: right;
              li {
                display: inline-block;
                padding: 0 18px;
                border-right: 1px solid #333; 
                font-size: 14px;

                  &:first-of-type {
                    padding-left: 0;
                  }
                  &:nth-last-child(1) {
                    border: 0;
                    padding: 0 0 0 18px;
                  }
              }
          }
      }
    }

    .small {
      margin: 0 auto;
      font-size: 14px;
      font-weight: 500;
      padding-bottom: 14px;
    }  
  }// --------  inner ------ 
}// ---------------------------------------  footer ----------


// ---------------------------------------------------------  max-1080 ----------
@media screen and (max-width: 1079px) {

    header {

        .header-inner {
          width: 92%;
        }
      
    }//-----------------------header-----

    main {

        .main-inner {
          width: 92%;

            .top-wrapper {

                .top-right {
                  margin: 6.66vw 0 10vw;
                }

                .top-left {
                  margin: 17vw 0 20.25vw;

                    .catch-title {
                      font-size: 3vw;
                    }
                    .catch-explain {
                      font-size: 1.4vw;
                    }
                    .top-contact {
                      font-size: 1.5vw;
                    }
                    .top-document {
                      font-size: 1.5vw;
                    }
                }
            }// ----------------top-wrapper 

            .service {

              .section-title {
                font-size: 4vw;
              }

            }
          

            .about {
              .section-title {
                font-size: 4vw;
              }

                .about-section {
                    .about-content {        
                        font-size: 1.30vw;
                        line-height: 2.5vw;
                        a {
                          margin-top: 2.5vw;
                          padding: 1.35vw 5.1vw;
                        }
                    }             
                }

                .about-section2 {
                    .about-content {        
                        font-size: 1.30vw;
                        line-height: 2.5vw;
                        h3 {
                          font-size: 2.8vw; 
                          margin: 1.3vw 0;
                        }

                        p {
                          height: auto;
                          font-size: 1.30vw;
                          line-height: 2.5vw;

                        }
                        a {
                          margin-top: 2.5vw;
                          padding: 1.3vw 5.1vw;
                        }
                    }                    
                }
            }//--------------------about-----
            
            .news {
              .section-title {
                font-size: 4vw;
              }
              article {
                .news-image {
                  padding: 1.5vw 0;
                  margin-right: 2.9vw;
                }
                .news-contents {
                  .time1 {
                    font-size: 1.4vw;
                    padding: 3vw 2.5vw 1.55vw 0;  
                  }
                  .time2 {
                    font-size: 1.4vw;
                    padding: 3vw 2.5vw 1.5vw 0;  
                  }
                  .time3 {
                    font-size: 1.4vw;
                    padding: 3vw 2.5vw 1.5vw 0;  
                  }
                  span {
                    font-size: 1.3vw;
                    padding: 0.36vw 2vw;
                    margin: 2.79vw 1.35vw;
                  }
                  .bold {
                    font-size: 1.38vw;
                  }
                  .thin {
                    font-size: 1.38vw;
                    line-height: 2.43vw;
                    padding: 1.8vw 0 4.7vw;
                  }
                }
              }
            }

        }//-----------------------inner-----
    }//-----------------------main-----


    footer {
        .footer-inner {
          width: 92%;
            .flex {
              padding: 2.5vw 0 1.2vw;
              // padding: 2.717391% 0 1.304348%;
              .footer-logo {
                width: 7vw;
                // width: 7.608696%;
              }    
              nav {
                
                ul {
                  li {
                    font-size: 1.4vw;
                    padding: 0 1.8vw;

                    &:nth-last-child(1) {
                        padding: 0 0 0 1.8vw;
                    }
                  }
                }
              }
            }

            .small {
              font-size: 1.4vw;
              padding-bottom: 1.4vw;
            }
        }//-----------------------inner-----
    }//-----------------------footer-----

}// ---------------------------------------------------------  max-768 ----------
@media screen and (max-width: 768px) {

  header {

    .header-inner {
      width: 92%;

        .header-logo img {
          width: 110px;
          margin: 21px 0;
        }

        .header-recruit p {
          font-size: 18px;
        }
    }
  }//--------- header --------->

  main {

    .main-inner {
      width: 92%;

      .top-wrapper {
        // display: flex;
        flex-direction: column-reverse;
        text-align: center;

          .top-right {
            width: 100%;
            margin: 10px 0 0;

          }

          .top-left {
            width: 100%;
            margin: 1.3vw 0 26vw;

              .catch-title {
                font-size: 8vw;
                // font-size: 28px;
                line-height: 12vw;
                // line-height: 48px;
              }

              .catch-explain {
                width: 100%;
                font-size: 4.3vw;
                // font-size: 16px;
                margin: 22px 0 20px;
                line-height: 8vw;
                // line-height: 27px;
              }
              .pc-none {
                display: block;
              }
              .top-contact {
                width: 44%;
                display: block;
                text-align: center;
                margin: 0 auto 15px;
                padding: 4% 8%;
                font-size: 4.4vw;
                border-radius: 8vw;
              }
              .top-document {
                width: 59%;
                display: block;
                text-align: center;
                margin: 0 auto;
                padding: 4% 8%;
                font-size: 4.4vw;
                border-radius: 8vw;
              }
          }
      }

      .service {

        .section-title {
          width: 100%;
          font-size: 7vw;
          justify-content: space-between;

            &:before, &:after {
              width: 30%;
            }
            &:before {
              margin-right: 4%;
            }
            &:after {
              margin-left: 4%;
            }
        }

        .service-select {
          width: 100%;
          flex-direction: column;

          figure {
            text-align: center;

            .first-img {
              margin-top: 80px;
            }  
            img {
              width: 53%;
              margin: 0 0 30px 0;
            }
          }
          figcaption {
            font-size: 5.3vw;
            padding-bottom: 50px;
          }
        }
      } 

      .about {
        margin: 4.5vw 0 0;

        .section-title {
          width: 100%;
          font-size: 7vw;
          justify-content: space-between;

          &:before, &:after {
            width: 30%;
          }
          &:before {
            margin-right: 4%;
          }
          &:after {
            margin-left: 4%;
          }
        }


        .about-section {
          margin: 80px 0 0;
          flex-direction: column;

          .about-image {
            width: 100%;
            
          }
          .about-content {
            width: 100%;
            padding-top: 50px;
            font-size: 4.2vw;
            line-height: 8vw;
          }

          .sp-none {
            display: none;
          }

          .about-more {
            text-align: center;

            a {
              font-size: 4.8vw;
              padding: 4vw 15vw;
              border-radius: 15vw;
              margin: 8vw 0 18vw;
            }

          }
        }

        .about-section2 {
          margin: 0;
          flex-direction: column;

          .about-image {
            width: 100%;
          }
          .about-content {
            width: 100%;
            padding-top: 50px;
            font-size: 4.2vw;
            line-height: 8vw;
              
             h3 {
               font-size: 8vw;
               margin-bottom: 30px;
             }

             p {
               font-size: 4.2vw;
               line-height: 8vw;
             }
          }
          // .pc-none {
          //   display: block;
          // }
          .sp-none {
            display: none;
          }

          .about-more {
            text-align: center;

            a {
              font-size: 4.8vw;
              padding: 4vw 15vw;
              border-radius: 15vw;
              margin: 8vw 0 26vw;
            }
          }
        }
      }//-----------------------about-----



      .news {

        .section-title {
          width: 100%;
          font-size: 7vw;
          justify-content: space-between;

          &:before, &:after {
            width: 30%;
          }
          &:before {
            margin-right: 4%;
          }
          &:after {
            margin-left: 4%;
          }

        }




        article {
          width: 100%;

          a {
            flex-direction: column;
          }

          .news-image {
            width: 86%;
            padding: 18px 0;
            margin: 0 auto;
          }

          .news-contents {
            width: 100%;
            
            .span-category {
              text-align: left;
              
            }

            .time1 {
              font-size: 4.3vw;
              padding-top: 4vw;
            }
            .time2 {
              font-size: 4.3vw;
              padding-top: 4vw;
              padding-right: 3%;
            }
            .time3 {
              font-size: 4.3vw;
              padding-top: 4vw;
              padding-right: 1.9%;
            }            


            span {
              margin: 0 auto;
              font-size: 3.5vw;
              font-weight: bold;
              padding: 1.2vw 5.2vw;
              border-radius: 15vw;
            }
            p {
              padding: 2vw 0;

            }
            .bold {
              font-size: 4.3vw;
              line-height: 7vw;
              font-weight: bold;
              padding-top: 4vw;
            }
            .thin {
              width: 100%;
              font-size: 4.3vw;
              line-height: 7vw;
              padding: 2% 0 5.3%;
              font-weight: 500;
            }
          }
        }

        .last-more {
  
          .more {
            margin-top: 50px;
            font-size: 4.8vw;
            padding: 4vw 15vw;
            border-radius: 15vw;
            margin: 14vw 0 28vw;
          }
        }
      }


    }//--------- main-inner ---------> 
  }//--------- main ---------> 


  footer {
    // height: 289px;
    .footer-inner {
        .flex {
          flex-direction: column;
          padding: 0;

            .footer-logo {
              width: 70px;
              margin: 30px 0 23px;
              // margin: 8vh auto 6vh;
              display: inline-block;
            }

            nav {
              width: 100%;
              ul {
                text-align: center;
                li {
                  font-size: 14px;
                  display: block;
                  padding-bottom: 12px;
                  border: 0;
                  margin: 0;
                  &:nth-last-child(1) {
                    border: 0;
                    padding-bottom: 40px;
                  }
                }
              }
            }
        }
        .small {
          font-size: 14px;
          font-weight: 500;
          display: inline-block;
          padding-bottom: 14px;
        }       
    }

    
    
  }//--------- footer ---------> 
}