@charset "UTF-8";
body {
  font-family: '游ゴシック体', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333;
}

body a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  height: 70px;
}

header .header-inner {
  width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-inner .header-logo img {
  height: 33px;
  margin: 18px 0 19px;
}

header .header-inner .header-recruit p {
  background-color: #FFE000;
  padding: 15px 40px;
  margin: 11px 0;
  border-radius: 24px;
  -webkit-box-shadow: 3px 3px 10px #00000029;
          box-shadow: 3px 3px 10px #00000029;
}

main .main-inner {
  width: 1080px;
  margin: 0 auto;
}

main .main-inner .top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main-inner .top-wrapper .top-right {
  width: 51.9%;
  margin: 80px 0 120px;
}

main .main-inner .top-wrapper .top-left {
  margin: 204px 0 243px;
}

main .main-inner .top-wrapper .top-left h2 {
  font-size: 36px;
  line-height: 61px;
  font-family: '游ゴシック体', serif;
}

main .main-inner .top-wrapper .top-left .pc-none {
  display: none;
}

main .main-inner .top-wrapper .top-left p {
  width: 66.7%;
  line-height: 27px;
  margin: 34px 0 40px;
}

main .main-inner .top-wrapper .top-left .top-contact {
  font-size: 18px;
  padding: 15px 39px;
  background-color: #109954;
  border-radius: 24px;
  -webkit-box-shadow: 3px 3px 10px #00000029;
          box-shadow: 3px 3px 10px #00000029;
  color: #ffffff;
  margin-right: 10px;
}

main .main-inner .top-wrapper .top-left .top-document {
  font-size: 18px;
  padding: 15px 39px;
  border: 2px solid #109954;
  border-radius: 24px;
  -webkit-box-shadow: 3px 3px 10px #00000029;
          box-shadow: 3px 3px 10px #00000029;
  color: #109954;
}

main .service .section-title {
  width: 662px;
  margin: 0 auto;
  font-size: 36px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .service .section-title:before, main .service .section-title:after {
  content: "";
  height: 4px;
  width: 200px;
  line-height: 36px;
  background: #109954;
  display: block;
}

main .service .section-title:before {
  margin-right: 50px;
}

main .service .section-title:after {
  margin-left: 50px;
}

main .service .service-select {
  width: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .service .service-select figure img {
  width: 200px;
  margin: 109px 0 30px;
}

main .service .service-select figure figcaption {
  font-size: 20px;
  font-weight: bold;
}

main .about {
  margin: 120px 0;
}

main .about .section-title {
  width: 629px;
  margin: 0 auto;
  font-size: 36px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .about .section-title:before, main .about .section-title:after {
  content: "";
  height: 4px;
  width: 200px;
  line-height: 36px;
  background: #109954;
  display: block;
}

main .about .section-title:before {
  margin-right: 50px;
}

main .about .section-title:after {
  margin-left: 50px;
}

main .about .about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px 70px 0;
}

main .about .about-section .about-image {
  width: 48%;
}

main .about .about-section .about-content {
  width: 48%;
  padding-top: 30px;
  line-height: 27px;
  font-weight: 500;
}

main .about .about-section .about-content .pc-none {
  display: none;
}

main .about .about-section .about-content a {
  line-height: 18px;
  padding: 15px 55px;
  color: #ffffff;
  background-color: #109954;
  border-radius: 24px;
  -webkit-box-shadow: 3px 3px 10px #00000029;
          box-shadow: 3px 3px 10px #00000029;
  margin-top: 26px;
  display: inline-block;
}

main .about .about-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px 70px 0;
}

main .about .about-section2 .about-image {
  width: 47%;
}

main .about .about-section2 .about-content {
  width: 48%;
  padding-top: 30px;
  line-height: 27px;
  font-weight: 500;
}

main .about .about-section2 .about-content .pc-none {
  display: none;
}

main .about .about-section2 .about-content h3 {
  font-size: 32px;
  color: #109954;
  margin-bottom: 30px;
}

main .about .about-section2 .about-content a {
  line-height: 18px;
  padding: 15px 55px;
  color: #ffffff;
  background-color: #109954;
  border-radius: 24px;
  -webkit-box-shadow: 3px 3px 10px #00000029;
          box-shadow: 3px 3px 10px #00000029;
  margin-top: 26px;
  display: inline-block;
}

main .news .section-title {
  width: 608px;
  margin: 0 auto;
  font-size: 36px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .news .section-title:before, main .news .section-title:after {
  content: "";
  height: 4px;
  width: 200px;
  line-height: 36px;
  background: #109954;
  display: block;
}

main .news .section-title:before {
  margin-right: 50px;
}

main .news .section-title:after {
  margin-left: 50px;
}

main .news .first {
  margin-top: 101px;
  border-top: 1px solid #707070;
}

main .news article {
  border-bottom: 1px solid #707070;
  width: 1000px;
  margin: 0 auto;
}

main .news article a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .news article .news-image {
  width: 300px;
  padding: 18px 34px 18px 34px;
}

main .news article .news-contents time {
  font-size: 16px;
  padding: 36px 28px 20px 0;
  display: inline-block;
}

main .news article .news-contents .time2 {
  padding-right: 10px;
}

main .news article .news-contents .time3 {
  padding-right: 19px;
}

main .news article .news-contents span {
  padding: 6px 23px;
  border: 2px solid #109954;
  color: #109954;
  background-color: #fff;
  border-radius: 18px;
  -webkit-box-shadow: 3px 3px 10px #00000029;
          box-shadow: 3px 3px 10px #00000029;
  margin: 31px 0 15px;
  display: inline-block;
}

main .news article .news-contents p {
  font-size: 16px;
  line-height: 27px;
  padding: 20px 0 53px;
}

main .news .last-more {
  text-align: center;
}

main .news .last-more .more {
  padding: 15px 55px;
  color: #ffffff;
  background-color: #109954;
  border-radius: 18px;
  -webkit-box-shadow: 3px 3px 10px #00000029;
          box-shadow: 3px 3px 10px #00000029;
  margin: 65px 0 100px;
  display: inline-block;
}

footer {
  height: 135px;
  background-color: #E8E8E8;
}

footer .footer-inner {
  width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-inner .footer-logo {
  width: 70px;
  margin: 25px 0 12px;
}

footer .footer-inner nav ul li {
  display: inline-block;
  padding: 0 18px;
  border-right: 1px solid #333;
  font-size: 14px;
  margin: 50px 0 43px;
}

footer .footer-inner nav ul li a {
  text-decoration: none;
}

footer .footer-inner nav ul li:nth-last-child(1) {
  border: 0;
  padding: 0 0 0 18px;
}

footer .small {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  header .header-inner {
    width: 92%;
  }
  header .header-inner .header-logo img {
    height: 28px;
    width: 110px;
    margin: 21px 0;
  }
  header .header-inner .header-recruit p {
    margin: 11px 0;
    border-radius: 24px;
    -webkit-box-shadow: 3px 3px 10px #00000029;
            box-shadow: 3px 3px 10px #00000029;
  }
  main .main-inner {
    width: 92%;
  }
  main .main-inner .top-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  main .main-inner .top-wrapper .top-right {
    width: 100%;
    margin: 10px 0 0;
  }
  main .main-inner .top-wrapper .top-left {
    margin: 10px 0 100px;
  }
  main .main-inner .top-wrapper .top-left p {
    width: 100%;
    margin: 22px 0 20px;
    line-height: 27px;
  }
  main .main-inner .top-wrapper .top-left .pc-none {
    display: block;
  }
  main .main-inner .top-wrapper .top-left .top-contact {
    width: 44%;
    display: block;
    text-align: center;
    margin: 0 auto 15px;
  }
  main .main-inner .top-wrapper .top-left .top-document {
    width: 59%;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  main .main-inner .service .section-title {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .main-inner .service .section-title:before, main .main-inner .service .section-title:after {
    width: 30%;
  }
  main .main-inner .service .section-title:before {
    margin-right: 4%;
  }
  main .main-inner .service .section-title:after {
    margin-left: 4%;
  }
  main .main-inner .service .service-select {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main-inner .service .service-select figure {
    text-align: center;
  }
  main .main-inner .service .service-select figure .first-img {
    margin-top: 80px;
  }
  main .main-inner .service .service-select figure img {
    margin: 0 0 30px 0;
  }
  main .main-inner .service .service-select figure figcaption {
    font-size: 20px;
    padding-bottom: 50px;
  }
  main .main-inner .about {
    margin: 50px 0 100px;
  }
  main .main-inner .about .section-title {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .main-inner .about .section-title:before, main .main-inner .about .section-title:after {
    width: 30%;
  }
  main .main-inner .about .section-title:before {
    margin-right: 4%;
  }
  main .main-inner .about .section-title:after {
    margin-left: 4%;
  }
  main .main-inner .about .about-section, main .main-inner .about .about-section2 {
    margin: 80px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main-inner .about .about-section .about-image, main .main-inner .about .about-section2 .about-image {
    width: 100%;
  }
  main .main-inner .about .about-section .about-content, main .main-inner .about .about-section2 .about-content {
    width: 100%;
    padding-top: 50px;
  }
  main .main-inner .about .about-section .pc-none, main .main-inner .about .about-section2 .pc-none {
    display: block;
  }
  main .main-inner .about .about-section .sp-none, main .main-inner .about .about-section2 .sp-none {
    display: none;
  }
  main .main-inner .about .about-section .about-more, main .main-inner .about .about-section2 .about-more {
    text-align: center;
  }
  main .main-inner .about .about-section .about-more span, main .main-inner .about .about-section2 .about-more span {
    margin-top: 30px;
  }
  main .main-inner .about .about-section2 {
    margin: 50px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main-inner .about .about-section2 .about-image {
    width: 100%;
  }
  main .main-inner .about .about-section2 .about-content {
    width: 100%;
    padding-top: 50px;
  }
  main .main-inner .about .about-section2 .pc-none {
    display: block;
  }
  main .main-inner .about .about-section2 .sp-none {
    display: none;
  }
  main .main-inner .about .about-section2 .about-more {
    text-align: center;
  }
  main .main-inner .about .about-section2 .about-more span {
    margin-top: 30px;
  }
  main .main-inner .news .section-title {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .main-inner .news .section-title:before, main .main-inner .news .section-title:after {
    width: 30%;
  }
  main .main-inner .news .section-title:before {
    margin-right: 4%;
  }
  main .main-inner .news .section-title:after {
    margin-left: 4%;
  }
  main .main-inner .news article {
    width: 100%;
  }
  main .main-inner .news article a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main-inner .news article .news-image {
    width: 86%;
    padding: 18px 0;
    margin: 0 auto;
  }
  main .main-inner .news article .news-contents h2 {
    line-height: 27px;
  }
  main .main-inner .news article .news-contents time {
    padding: 0 4.3% 0 0;
    font-weight: bold;
  }
  main .main-inner .news article .news-contents .span-category {
    text-align: left;
    padding-bottom: 22px;
  }
  main .main-inner .news article .news-contents span {
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
  }
  main .main-inner .news article .news-contents p {
    padding: 24px 0 18px;
  }
  main .main-inner .news .last-more .more {
    margin-top: 50px;
  }
  footer {
    height: 289px;
    text-align: center;
  }
  footer .footer-inner {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  footer .footer-inner .footer-logo {
    margin: 30px auto 23px;
  }
  footer .footer-inner nav ul li {
    display: block;
    padding-bottom: 12px;
    border: 0;
    margin: 0;
  }
  footer .footer-inner nav ul li:nth-last-child(1) {
    border: 0;
    padding-bottom: 40px;
  }
}
/*# sourceMappingURL=style.css.map */