@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: YuGothic,'Yu Gothic',sans-serif;
  color: #333;

  a {
    text-decoration: none;
    color: #333;
  }

}

img {
  max-width: 100%;
  height: auto;
}


header {
  height: 70px;

  .header-inner {
    width: 84.375%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

      .header-logo img {
        height: 33px;
        margin: 18px 0 19px;
      }

      .header-recruit {
        
          p {
            background-color: #FFE000;
            padding: 15px 35px;
            margin: 11px 0;
            border-radius: 24px;
            box-shadow: 3px 3px 10px #00000029;
          }  
      }


  }
}
// ---------------------------------------  header ----------

main {

  .main-inner {
    width: 84.375%;
    max-width: 100%;
    margin: 0 auto;

    .top-wrapper {
        display: flex;
        justify-content: space-between;

        .top-right {
          width: 51.851852%;
          margin: 8% 0 12%;
          // margin: 80px 0 120px;
        }

        .top-left {
          width: 46.666667%;
          margin: 20.4% 0 24.3%;
          // margin: 204px 0 243px;

            .catch-title {
              width: 100%;
              font-size: 2.8vw;
              font-weight: bold;
              // display: inline-block;
            }
            .pc-none {
              display: none;
            }
            .catch-explain {
              width: 77.2%;
              font-size: 1.25vw;
              line-height: 2.1vw;
              margin: 3.4% 0 4%;
              display: inline-block;
            }

            .top-contact {
              font-size: 1.4vw;
              padding: 3% 7.7%;
              background-color: #109954;
              border-radius: 24px;
              box-shadow: 3px 3px 10px #00000029;
              color: #ffffff;
              margin-right: 1%;
              display: inline-block;
            }
            .top-document {
              font-size: 1.4vw;
              padding: 3% 7.7%;
              border: 2px solid #109954;
              border-radius: 24px;
              box-shadow: 3px 3px 10px #00000029;
              color: #109954;
              display: inline-block;
            }
            
        }
    } 




  

    .service {

        .section-title {
          width: 662px;
          margin: 0 auto;
          font-size: 36px;
          font-weight: bold;
          display: flex;
          align-items: center;
          text-align: center;

            &:before, &:after {
              content: "";
              // flex-grow: .2;
              height: 4px;
              width: 200px;
              line-height: 36px;
              background: #109954;
              display: block;
            }
            &:before {
              margin-right: 50px;
            }
            &:after {
              margin-left: 50px;
            }
        }
        
        .service-select {
          width: 800px;
          max-width: 100%;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;

            figure {

                img {
                  // height: 200px;
                  width: 200px;
                  margin: 109px 0 30px;
                }
                figcaption {
                  font-size: 20px;
                  font-weight: bold;
                  text-align: center;
                }
            }
        }

    }// ---------------------------------------  service ----------

    .about {
      margin: 12% 0;

        .section-title {
          width: 629px;
          margin: 0 auto;
          font-size: 36px;
          font-weight: bold;
          display: flex;
          align-items: center;
          text-align: center;

            &:before, &:after {
              content: "";
              // flex-grow: .2;
              height: 4px;
              width: 200px;
              line-height: 36px;
              background: #109954;
              display: block;
            }
            &:before {
              margin-right: 50px;
            }
            &:after {
              margin-left: 50px;
            }
        }
        
        .about-section {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          margin: 10% 0 0;

            .about-image {
              max-width: 48%;
            }
            .about-content {
              max-width: 48%;
              padding-top: 3%;
              font-size: 1.4vw;
              line-height: 2.4vw;
              font-weight: 500;

              a {
                line-height: 1.4vw;
                padding: 15px 55px;
                color: #ffffff;
                background-color: #109954;
                border-radius: 24px;
                box-shadow: 3px 3px 10px #00000029;
                margin-top: 30px;
                display: inline-block;
              }
            }

        }

        .about-section2 {
          display: flex;
          justify-content: space-between;
          margin: 10% 0 0;
            
            .about-image {
              width: 48%;
            }
            .about-content {
              width: 48%;
              padding-top: 3%;
              font-size: 1.4vw;
              line-height: 2.4vw;
              font-weight: 500;

                h3 {
                  font-size: 2.5vw;
                  color: #109954; 
                  margin-bottom: 3%;
                }
                a {
                  line-height: 1.4vw;
                  padding: 15px 55px;
                  color: #ffffff;
                  background-color: #109954;
                  border-radius: 24px;
                  box-shadow: 3px 3px 10px #00000029;
                  margin-top: 30px;
                  display: inline-block;
                }
            }

        }

    }// ---------------------------------------  about ----------

    .news {

        .section-title {
          width: 608px;
          margin: 0 auto;
          font-size: 36px;
          font-weight: bold;
          display: flex;
          align-items: center;
          text-align: center;


            &:before, &:after {
              content: "";
              // flex-grow: .2;
              height: 4px;
              width: 200px;
              line-height: 36px;
              background: #109954;
              display: block;
            }
            &:before {
              margin-right: 50px;
            }
            &:after {
              margin-left: 50px;
            }
        }
        
        .first {
          margin-top: 101px;
          border-top: 1px solid #707070;
        }





        article {
          border-bottom: 1px solid #707070;
          width: 92.6%;
          margin: 0 auto;

            a {
              display: flex;
            }

            .news-image {
              width: 30%;
              padding: 1.8% 3.4%;
            }

            .news-contents {
              width: 70%;
              
              time {
                font-size: 1.25vw;
                padding: 3.6% 2.8% 2% 0;
                display: inline-block;
              }

              .time2 {
                padding-right: 1%;
              }
              .time3 {
                padding-right: 1.9%;
              }
              span {
                  font-size: 1.09vw;
                  padding: 0.6% 2.3%;
                  border: 2px solid #109954;
                  color: #109954;
                  background-color: #fff;
                  border-radius: 18px;
                  margin: 3.1% 0 1.5%;
                  display: inline-block;
                  font-weight: bold;
              }
              .bold {
                font-size: 1.25vw;
                line-height: 2.1vw;
                font-weight: bold;
              }
              .thin {
                width: 95%;
                font-size: 1.25vw;
                line-height: 2.1vw;
                padding: 2% 0 5.3%;
                font-weight: medium;
              }
              
            }
        }

        .last-more {
          text-align: center;

          .more {
            padding: 15px 55px;
            color: #ffffff;
            background-color: #109954;
            border-radius: 18px;
            margin: 65px 0 100px;
            display: inline-block;
          }


        }
        

    }// ---------------------------------------  news ----------

  }// --------- main inner -----
}// ---------------------------------------  main ----------

footer {
  height: 140px;
  background-color: #E8E8E8;
  position: relative;

  .footer-inner {
    width: 84.375%;
    max-width: 100%;
    margin: 0 auto;

      .flex {
        height: 140px;
        display: flex;
        justify-content: space-between;
      }
        
      .footer-logo {
        width: 5%;
        margin: 1.2vw 0 1.2vw;
      }

      nav {
        width: 70%;
          ul {
           text-align: right;
            li {
              display: inline-block;
              padding: 0 1.8%;
              border-right: 1px solid #333; 
              font-size: 1.1vw;
              margin: 2.5vw 0 2vw;

                a {
                  text-decoration: none;
                }

              &:nth-last-child(1) {
                border: 0;
                padding: 0 0 0 1.8%;
              }
            }
          }
      }

      .small {
        text-align: center;
        font-size: 1.1vw;
        font-weight: 500;
        display: block;
        position: absolute;
        bottom: 10px;
        left: 45%;
      }

    
  }
  
  
}// ---------------------------------------  footer ----------




// ---------------------------------------------------------  768 ----------
@media screen and (max-width: 768px) {

  header {

    .header-inner {
     width: 92%;

        .header-logo img {
          height: 28px;
          width: 110px;
          margin: 21px 0;
        }

        .header-recruit p {
          margin: 11px 0;
          border-radius: 24px;
          box-shadow: 3px 3px 10px #00000029;
        }
    }
  }//--------- header --------->

  main {

    .main-inner {
      width: 92%;

      .top-wrapper {
        // display: flex;
        flex-direction: column-reverse;
        text-align: center;

          .top-right {
            width: 100%;
            margin: 10px 0 0;

          }

          .top-left {
            width: 100%;
            margin: 10px 0 100px;

              .catch-title {
                font-size: 8vw;
                // font-size: 28px;
                line-height: 12vw;
                // line-height: 48px;
              }

              .catch-explain {
                width: 100%;
                font-size: 4.3vw;
                // font-size: 16px;
                margin: 22px 0 20px;
                line-height: 8vw;
                // line-height: 27px;
              }
              .pc-none {
                display: block;
              }
              .top-contact {
                width: 44%;
                display: block;
                text-align: center;
                margin: 0 auto 15px;
                padding: 4% 8%;
                font-size: 4.4vw;
              }
              .top-document {
                width: 59%;
                display: block;
                text-align: center;
                margin: 0 auto;
                padding: 4% 8%;
                font-size: 4.4vw;
              }
          }
      }

      .service {

        .section-title {
          width: 100%;
          // font-size: 28px;
          justify-content: space-between;

            &:before, &:after {
              width: 30%;
            }
            &:before {
              margin-right: 4%;
            }
            &:after {
              margin-left: 4%;
            }
        }

        .service-select {
          width: 100%;
          flex-direction: column;

          figure {
            text-align: center;

            .first-img {
              margin-top: 80px;
            }  
            img {
              margin: 0 0 30px 0;
            }


            figcaption {
              font-size: 20px;
              padding-bottom: 50px;
            }

          }

        }
      } 

      .about {
        margin: 50px 0 100px;

        .section-title {
          width: 100%;
          // font-size: 28px;
          justify-content: space-between;

          &:before, &:after {
            width: 30%;
          }
          &:before {
            margin-right: 4%;
          }
          &:after {
            margin-left: 4%;
          }
        }


        .about-section, .about-section2 {
          margin: 80px 0 0;
          flex-direction: column;

          .about-image {
            max-width: 100%;
            
          }
          .about-content {
            max-width: 100%;
            padding-top: 50px;
            font-size: 4.2vw;
            line-height: 8vw;
          }
          // .pc-none {
          //   display: block;
          // }
          .sp-none {
            display: none;
          }

          .about-more {
            text-align: center;

            a {
              font-size: 4.4vw;
              line-height: 4.4vw;
            }

          }
        }

        .about-section2 {
          margin: 50px 0 0;
          flex-direction: column;

          .about-image {
            width: 100%;
          }
          .about-content {
            width: 100%;
            padding-top: 50px;
            font-size: 4.2vw;
            line-height: 8vw;
              
             h3 {
               font-size: 32px;
               margin-bottom: 30px;
             }
          }
          // .pc-none {
          //   display: block;
          // }
          .sp-none {
            display: none;
          }

          .about-more {
            text-align: center;

            a {
              font-size: 4.4vw;
              line-height: 4.4vw;
            }
          }
        }
      }



      .news {

        .section-title {
          width: 100%;
          // font-size: 28px;
          justify-content: space-between;

          &:before, &:after {
            width: 30%;
          }
          &:before {
            margin-right: 4%;
          }
          &:after {
            margin-left: 4%;
          }

        }




        article {
          width: 100%;

          a {
            flex-direction: column;
          }

          .news-image {
            width: 86%;
            padding: 18px 0;
            margin: 0 auto;
          }

          .news-contents {
            width: 100%;
            
            .span-category {
              text-align: left;
              
            }

            time {
              font-size: 4.3vw;
              padding: 0 4vw 0 0;
              font-weight: bold;
            }
            .time2 {
              padding-right: 3%;
            }
            .time3 {
              padding-right: 1.9%;
            }            


            span {
              margin: 0 auto;
              font-size: 4vw;
              font-weight: bold;
              padding: 6px 6.13%;
            }
            p {
              padding: 24px 0 18px;

            }
            .bold {
              font-size: 4.3vw;
              line-height: 7vw;
              font-weight: bold;
            }
            .thin {
              width: 100%;
              font-size: 4.3vw;
              line-height: 7vw;
              padding: 2% 0 5.3%;
              font-weight: medium;
            }
          }
        }

        .last-more {
  
          .more {
            margin-top: 50px;
            font-size: 4.4vw;
            line-height: 4.4vw;
          }
        }
      }


    }//--------- main-inner ---------> 
  }//--------- main ---------> 

  footer {
    height: 289px;
    text-align: center;
    position: static;

    .footer-inner {
      width: 100%;
      text-align: center;

        .flex {
          display: flex;
          flex-direction: column;
        }
        

        .footer-logo {
          width: 10%;
          margin: 30px auto 23px;
        }

        nav {
          width: 100%;
          ul {
            text-align: center;
            li {
              display: block;
              padding-bottom: 12px;
              border: 0;
              margin: 0;
              font-size: 2vw;

              &:nth-last-child(1) {
                border: 0;
                padding-bottom: 40px;
              }
            }
          }
        }

        .small {
          text-align: center;
          padding-top: 15%;
          font-size: 2vw;
          font-weight: 500;
          display: block;
          position: static;
          // bottom: 10px;
          // left: 38vw;
        }
        
    }

    
    
  }//--------- footer ---------> 
}



// ---------------------------------------------------------  1080----------
@media screen and (min-width: 1440px) {

  
  .small {
    text-align: center;
    font-size: 3vw;
    font-weight: 500;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 45%;
  }


}